.footer {
  background: #000000;
  padding: 55px 0;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px 0;
}

.footer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
}

.footer-header__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fefefe;
  text-transform: uppercase;
}

.footer-header__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #b9b9b9;

  display: flex;
  align-items: center;
  text-align: center;
}

.copy-right__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #b9b9b9;

  @media (max-width: 320px) {
  & {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
}

.copy-right__slesh-text {
    padding: 0 5px;
    
}

