.navigation {
  display: flex;
  flex-direction: column;
  float: right;

  .navigation__item.active {
    background: #E5E5E5;
  }

  &__icon {
    margin-left: 159px;
    margin-top: 23px;
    background: #000000;
    color: #ffffff;
  }

  &__list {
    position: absolute;
    top: 47px;
    width: 183px;
  }

  .navigation__list.active {
    display: block;
  }

  &__item {
    padding: 4px 12px;
    background: #f5f5f5;
  }

  &__link {
    text-decoration: none;
    color: #4e4e4e;
    text-transform: uppercase;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
  }

  &__link:hover {
    color: #57a4a4;
  }

  .invisible {
    display: none;
  }
}

.banner__img {
  width: 100%;
  padding: 20px 0;

  .img {
    width: 100%;
    padding-top: 23px;
  }
}


