.section__instagram {
  padding: 50px 0;
}
.instagram-title {
  text-transform: uppercase;
  margin-bottom: 13px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .instagram__link {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #4e4e4e;
  }
}

.instagram-imeg__post {
  display: none;

  @media (min-width: 768px) {
    display: block;

    .large {
      display: none;
    }
  }
}

.instagram-title__link-right {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.instagram-imeg__body {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
}

@media (min-width: 768px) {
  .large {
    display: none;
  }
  .section__instagram {
    background: #00000005;
    mix-blend-mode: normal;
  }
}

@media (min-width: 1200px) {
  .large {
    display: block;
  }
}
.instagram__imeg {
  width: 250px;
  height: 250px;
  @media (min-width: 1200px) {
    & {
      width: 285px;
    }
  }
}

.instagram__img {
  width: 100%;
  height: 100%;
}

@media (min-width:768px) {
  .instagram__imeg {
    flex: 1;
    width: auto;
    height: auto;
  }
}