@import "section-header";

//====== POSTS
a {
    text-decoration: none;
  }
  
  .posts {
    padding: 20px 0 40px 0;
  }
  
  .posts__header {
    margin-bottom: 20px;
  }
  
  .posts-header__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #4e4e4e;
    text-transform: uppercase;
  }
  
  .posts__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px 0;
  }
  
  .item-posts__content {
    display: flex;
    flex-direction: column;
  
    @media (min-width: 768px) {
      & {
        flex-direction: row;
        gap: 0 20px;
      }
    }
  
  
  }
  
  .item-posts__image {
    margin-bottom: 11px;
    width: 160px;
    height: 140px;
  }
  
  .posts__img {
    width: 160px;
    height: 100%;
  }
  
  .item-posts__text-block {
    display: flex;
    flex-direction: column;
  }
  
  .item-posts__link:hover,
  .item-posts__link:focus {
    text-decoration: underline;
  }
  
  .item-posts__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #4e4e4e;
  }
  
  .item-posts__sub-title {
    margin-bottom: 10px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #7c7c7c;
  }
  
  .item-posts__text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5c5c5c;
    display: none;
  
    @media (min-width: 768px) {
      & {
        display: block;
        width: 404px;
      }
    }
  }
  
  .last-posts {
    display: none;
  
    @media (min-width: 768px) {
      & {
        display: block;
      }
  
    }
  }
  
  
  @media (min-width: 1200px) {
   .posts__container {
  
  
    .posts__body {
      flex-direction: row;
      justify-content: space-between;
    }
    .flex {
     width: 48%;
    }
   }

   .item-posts__text {
    width: 90%;
   }
  }
  
  //====== POSTS


@import "section-instagram";
@import "footer";

