
<footer class="footer">
    <div class="footer__container wrapper">
        <div class="footer__header">
            <a href="###">
                <h3 class="footer-header__title">- get in touch with us -</h3>
            </a>
            <p class="footer-header__text">
                Maecenas faucibus molli interdum. 
                Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. 
                Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
            </p>
        </div>
        <div class="footer__social">
            <div class="footer__social-list social-footer-list">
                <a href="###" class="social-footer__link-item">
                    <img src="./img/RSS.svg" alt="social">
                </a>
                <a href="###" class="social-footer__link-item">
                    <img src="./img/Facebook.svg" alt="social">
                </a>
                <a href="###" class="social-footer__link-item">
                    <img src="./img/Twitter.svg" alt="social">
                </a>
                <a href="###" class="social-footer__link-item">
                    <img src="./img/Dribbble.svg" alt="social">
                </a>
                <a href="###" class="social-footer__link-item">
                    <img src="./img/Pinterest.svg" alt="social">
                </a>
            </div>
        </div>
        <div class="footer__copy-right">
            <p class="copy-right__text">
                <span>Moonshine St. 14-05 Light City <span class="copy-right__slesh-text">/</span></span>  
                <span>T. +00 (123) 456 78 90 <span class="copy-right__slesh-text">/</span> </span>
                <span>first.last@email.com </span>
            </p>
        </div>
    </div>
</footer>
    <script src="./js/main.min.js"></script>
</body>
</html>