@media (min-width: 768px) {
  .page {


    &__header {
      display: flex;
      justify-content: space-around;
      margin-top: 41px;

      .navigation {

        .navigation__item.active {
          background: initial;
        }

        &__icon {
          display: none;
        }

        &__list {
          display: flex;
          justify-content: center;
          align-items: center;
          position: static;
          width: auto;
        }

        &__item {
          background: rgba(248, 246, 246, 0);
        }
      }

      .banner__img {
        width: 100%;
     
        .img {
         width: 100%;
         padding-top: 43px;
        }
       }
    }
  }
}

@media (min-width: 1200px) {
  .page {
    .navigation {
      .navigation__icon {
        display: none;
      }

      &__list {
        flex-direction: row;
        gap: 0 30px;
        width: auto;
      }

      &__link {
        text-decoration: none;
        color: #4e4e4e;
        text-transform: uppercase;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;

      }

      &__link:hover {
        color: #57A4A4;
      }
    }


  }
}


