@import "reset";
@import url("https://fonts.cdnfonts.com/css/roboto?styles=14394,14400");
@import "sections/section";
@import "components/components";

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

@import "media";
